/* config, set your color preferences */

$appbar-color: lightseagreen;// * 0.90; /* Turquoise; */
$bar-color: $appbar-color; /* Turquoise; */
$form-color: white;
$header-color: snow; //$appbar-color * 1.1;
$footer-color: lightgray;
$border-color: lightgray;
$tab-color: white;
$hoover-color: #D3D3D3 * 1.1;
