/* 
  rp-popup-*
*/
.rp-popup {
  position: absolute;
  left: 50%;
  top: 100px;
  margin: 0 0 0 -25%;
  background: white;
  z-index: 1000;
}

.rp-popup-behind {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  background : rgba(255,255,255,0.6);
}

.rp-popup-header {
  background-color: $header-color;
  border-style: solid;
  border-width: 1px;
  height: 27px;
  width: 100%;
  border-color: $border-color;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 1.6rem;
}

.rp-popup-msg {
  background-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $border-color;
  height: 80px;
}
