/*
    rp-dashobard-*
*/
.rp-dashboard-button {
  background-color: white;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
}

.rp-dashboard-button:hover {
  background-color: $hoover-color;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
}
/* */
