html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 2rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .2rem;
  background-color: #efefef;
  text-align: center;
}

.widgetheader {
  background-color: #85EFDF;
  border-style: solid;
  border-width: 1px;
  height: 25px;
  width: 100%;
  border-color: mintcream;
}

.popupHeader {
  background-color: #85EFDF;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 27px;
  width: 100%;
  border-bottom-color: lightgray;
}

.tabbar {
  display: inline-block;
  margin-top: 6px;
  margin-left: 20px;
}

.icon {
  float: right;
  margin: 4px;
}

.widget {
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
}

.react-grid-item.react-grid-placeholder { 
   background: white !important;  
} 

.popup {
  position: absolute;
  width: 50%;
  height: 250px;
  left: 50%;
  top: 100px;
  margin: 0 0 0 -25%;
  background: white;
  z-index: 1000;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.popupbehind {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  background : rgba(255,255,255,0.6);
}

ul.tabbar {
  display: table;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.tabbar>li {
  float: left;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
}

ul.tabbar>li:hover {
  background-color: mintcream;
}

ul.tabbar>li.selected {
  background-color: blue;
}

div.tabbarcontent {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
}

ul { overflow: auto; }

div.content { clear: both; }

.widgetButton {
  background-color: white;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
}

.widgetButton:hover {
  background-color: mintcream;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
}

.dashboardButton {
  background-color: white;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
}

.dashboardButton:hover {
  background-color: mintcream;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
}

.nav-portal {
  background-color: #85EFDF;
}

.nav-item {
  margin-left: 4px;
  margin-right: 4px;
}

.widget-tool {
  width: 110px;
  margin-top: 7px;
  background-color: mintcream;
}

.search-tool {
  float: left;
  margin-top: 9px;
}

.search-after {
  margin-top: 4px;
  float: left;
  display: none;
}

#asearchtool:hover #bsearchtool {
  display: block;
  margin-right: -350px;
}