.widgetheader {
  background-color: mintcream;
  border-style: solid;
  border-width: 1px;
  height: 25px;
  width: 100%;
  border-color: mintcream;
}

.popupHeader {
  background-color: mintcream;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 27px;
  width: 100%;
  border-bottom-color: lightgray;
}

.tabbar {
  display: inline-block;
  margin-top: 6px;
  margin-left: 20px;
}

.icon {
  float: right;
  margin: 4px;
}

.widget {
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
}

.react-grid-item.react-grid-placeholder { 
   background: white !important;  
} 

.popup {
  position: absolute;
  width: 50%;
  height: 250px;
  left: 50%;
  top: 100px;
  margin: 0 0 0 -25%;
  background: white;
  z-index: 10000;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
}

